  <nav>
    <ul>
      <li><%= link_to "Help", help_path %></li>
      <li><%= link_to "RSS", notes_url(:format => :rss) %></li>
      <% if signed_in? %>
      <li><%= link_to "Profile", user_profile_path(current_user) %></li>
      <li><%= link_to "Settings", edit_user_path(current_user) %></li>
        <% if @current_user.admin? %>
          <li><%= link_to "Users", users_path %></li>
        <% end %>
      <% end %>
      <% if signed_in? %>
      <li><%= link_to "Sign out", signout_path, :method => :delete %></li>
      <% else %>
      <li><%= link_to "Sign in", signin_path %></li>
      <% end %>
      <li><%= link_to "Home", root_path %></li>
    </ul>
  </nav>
  <br />
  <div class="logo">
    <%= link_to logo, root_path %>
  </div>
