<div class="profile_info">
  <label>Name:</label>
  <span>
    <%= @target_user.name %>
  </span>
  <br />
 <label>Gender:</label>
  <span>
 <%= @profile.gender %>  
  </span>
 <br />
 <label>Birthday:</label>
  <span>
 <%= @profile.birthday %>
  </span>
 <br />
  <label>Address:</label>
  <span>
  <%= @profile.address %>
  </span>
  <br />
  <label>Phone:</label>
  <span>
  <%= @profile.phone %>
  </span>
  <br />
</div>

