<h1>Profile</h1>
<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
        <%= gravatar_for @target_user %>
        <%= @target_user.name %>
      </h1>
      <p id="notice"><%= notice %></p>
      <p>
        <b>Birthday:</b>
        <%= @profile.birthday %> 
      </p>
      <p>
        <b>Gender:</b>
        <%= @profile.gender %> 
      </p>
      <p>
        <b>Address:</b>
        <%= @profile.address %> 
      </p>
      <p>
        <b>Phone:</b>
        <%= @profile.phone %> 
      </p>
    </td>
    <td class="sidebar round">
      <strong>Name</strong> <%= @target_user.name %><br />
      <strong>URL</strong>  <%= link_to user_path(@target_user), @target_user %>
    </td>
  </tr>
</table>

<%= link_to 'Edit', edit_user_profile_path(@profile.user_id) %>
